<div>
  <h2 id="page-heading" data-cy="AlfaHeading">
    <span jhiTranslate="sigemPortalApp.alfa.home.title">Alfas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sigemPortalApp.alfa.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-alfa"
        [routerLink]="['/alfa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sigemPortalApp.alfa.home.createLabel"> Criar novo(a) Alfa </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="alfas?.length === 0">
    <span jhiTranslate="sigemPortalApp.alfa.home.notFound">Nenhum Alfas encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="alfas && alfas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parcela">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.parcela">Parcela</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoTitular">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.tipoTitular">Tipo Titular</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomeTitular">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.nomeTitular">Nome Titular</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estadoSocial">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.estadoSocial">Estado Social</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataNascimento">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.dataNascimento">Data Nascimento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sexo">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.sexo">Sexo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documento">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.documento">Documento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroDocumento">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.numeroDocumento">Numero Documento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="datEmissao">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.datEmissao">Dat Emissao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="localEmissao">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.localEmissao">Local Emissao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contactoPrincipal">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.contactoPrincipal">Contacto Principal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contactoAlternativo">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.contactoAlternativo">Contacto Alternativo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estadoCivil">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.estadoCivil">Estado Civil</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomeConjugue">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.nomeConjugue">Nome Conjugue</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="distritoMunicipal">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.distritoMunicipal">Distrito Municipal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bairro">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.bairro">Bairro</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quatreirao">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.quatreirao">Quatreirao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="talhao">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.talhao">Talhao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="celula">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.celula">Celula</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bloco">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.bloco">Bloco</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="avenida">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.avenida">Avenida</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroPolicia">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.numeroPolicia">Numero Policia</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="usoActual">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.usoActual">Uso Actual</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="formaUso">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.formaUso">Forma Uso</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="formaObtencao">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.formaObtencao">Forma Obtencao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipo">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.tipo">Tipo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="anoOcupacao">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.anoOcupacao">Ano Ocupacao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoAcesso">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.tipoAcesso">Tipo Acesso</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="conflito">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.conflito">Conflito</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="detalhesConflito">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.detalhesConflito">Detalhes Conflito</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="construcaoPrecaria">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.construcaoPrecaria">Construcao Precaria</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pisosAcimaSoleira">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.pisosAcimaSoleira">Pisos Acima Soleira</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pisosAbaixoSoleira">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.pisosAbaixoSoleira">Pisos Abaixo Soleira</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="materialConstrucaoBarrote">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoBarrote">Material Construcao Barrote</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="materialConstrucaoIBR">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoIBR">Material Construcao IBR</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="materialConstrucaoPranchas">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoPranchas">Material Construcao Pranchas</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="materialConstrucaoPau">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoPau">Material Construcao Pau</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="materialConstrucaoCanico">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoCanico">Material Construcao Canico</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="materialConstrucaoCimento">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoCimento">Material Construcao Cimento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ocupacao">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.ocupacao">Ocupacao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="TipoContrucao">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.TipoContrucao">Tipo Contrucao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="detalhesTipoContrucao">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.detalhesTipoContrucao">Detalhes Tipo Contrucao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="infraestruturaExistente">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.infraestruturaExistente">Infraestrutura Existente</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataLevantamento">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.dataLevantamento">Data Levantamento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ficha.processo">
            <div class="d-flex">
              <span jhiTranslate="sigemPortalApp.alfa.ficha">Ficha</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alfa of alfas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/alfa', alfa.id, 'view']">{{ alfa.id }}</a>
          </td>
          <td>{{ alfa.parcela }}</td>
          <td>{{ alfa.tipoTitular }}</td>
          <td>{{ alfa.nomeTitular }}</td>
          <td>{{ alfa.estadoSocial }}</td>
          <td>{{ alfa.dataNascimento | formatMediumDate }}</td>
          <td>{{ alfa.sexo }}</td>
          <td>{{ alfa.documento }}</td>
          <td>{{ alfa.numeroDocumento }}</td>
          <td>{{ alfa.datEmissao }}</td>
          <td>{{ alfa.localEmissao }}</td>
          <td>{{ alfa.contactoPrincipal }}</td>
          <td>{{ alfa.contactoAlternativo }}</td>
          <td>{{ alfa.estadoCivil }}</td>
          <td>{{ alfa.nomeConjugue }}</td>
          <td>{{ alfa.distritoMunicipal }}</td>
          <td>{{ alfa.bairro }}</td>
          <td>{{ alfa.quatreirao }}</td>
          <td>{{ alfa.talhao }}</td>
          <td>{{ alfa.celula }}</td>
          <td>{{ alfa.bloco }}</td>
          <td>{{ alfa.avenida }}</td>
          <td>{{ alfa.numeroPolicia }}</td>
          <td>{{ alfa.usoActual }}</td>
          <td>{{ alfa.formaUso }}</td>
          <td>{{ alfa.formaObtencao }}</td>
          <td>{{ alfa.tipo }}</td>
          <td>{{ alfa.anoOcupacao }}</td>
          <td>{{ alfa.tipoAcesso }}</td>
          <td>{{ alfa.conflito }}</td>
          <td>{{ alfa.detalhesConflito }}</td>
          <td>{{ alfa.construcaoPrecaria }}</td>
          <td>{{ alfa.pisosAcimaSoleira }}</td>
          <td>{{ alfa.pisosAbaixoSoleira }}</td>
          <td>{{ alfa.materialConstrucaoBarrote }}</td>
          <td>{{ alfa.materialConstrucaoIBR }}</td>
          <td>{{ alfa.materialConstrucaoPranchas }}</td>
          <td>{{ alfa.materialConstrucaoPau }}</td>
          <td>{{ alfa.materialConstrucaoCanico }}</td>
          <td>{{ alfa.materialConstrucaoCimento }}</td>
          <td>{{ alfa.ocupacao }}</td>
          <td>{{ alfa.TipoContrucao }}</td>
          <td>{{ alfa.detalhesTipoContrucao }}</td>
          <td>{{ alfa.infraestruturaExistente }}</td>
          <td>{{ alfa.dataLevantamento | formatMediumDate }}</td>
          <td>
            <div *ngIf="alfa.ficha">
              <a [routerLink]="['/ficha', alfa.ficha.id, 'view']">{{ alfa.ficha.processo }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/alfa', alfa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button type="submit" [routerLink]="['/alfa', alfa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(alfa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="alfas && alfas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
