<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pontos-heading" data-cy="PontosCreateUpdateHeading" jhiTranslate="sigemPortalApp.pontos.home.createOrEditLabel">
        Criar ou editar Pontos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sigemPortalApp.pontos.parcela" for="field_parcela">Parcela</label>
          <input type="text" class="form-control" name="parcela" id="field_parcela" data-cy="parcela" formControlName="parcela" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sigemPortalApp.pontos.pointX" for="field_pointX">Point X</label>
          <input type="number" class="form-control" name="pointX" id="field_pointX" data-cy="pointX" formControlName="pointX" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sigemPortalApp.pontos.pointY" for="field_pointY">Point Y</label>
          <input type="number" class="form-control" name="pointY" id="field_pointY" data-cy="pointY" formControlName="pointY" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sigemPortalApp.pontos.marco" for="field_marco">Marco</label>
          <input type="text" class="form-control" name="marco" id="field_marco" data-cy="marco" formControlName="marco" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sigemPortalApp.pontos.zona" for="field_zona">Zona</label>
          <input type="text" class="form-control" name="zona" id="field_zona" data-cy="zona" formControlName="zona" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sigemPortalApp.pontos.spatialUnit" for="field_spatialUnit">Spatial Unit</label>
          <select
            class="form-control"
            id="field_spatialUnit"
            data-cy="spatialUnit"
            name="spatialUnit"
            formControlName="spatialUnit"
            [compareWith]="compareSpatialUnit"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="spatialUnitOption" *ngFor="let spatialUnitOption of spatialUnitsSharedCollection">
              {{ spatialUnitOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
