<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="projecto">
      <h2 data-cy="projectoDetailsHeading"><span jhiTranslate="sigemPortalApp.projecto.detail.title">Projecto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ projecto.id }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.projecto.nome">Nome</span></dt>
        <dd>
          <span>{{ projecto.nome }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.projecto.zona">Zona</span></dt>
        <dd>
          <span>{{ projecto.zona }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.projecto.descricao">Descricao</span></dt>
        <dd>
          <span>{{ projecto.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.projecto.codigo">Codigo</span></dt>
        <dd>
          <span>{{ projecto.codigo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/projecto', projecto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
