<form *ngIf="ficha" name="deleteForm" (ngSubmit)="confirmDelete(ficha.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="fichaDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirme a eliminação</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-ficha-heading" jhiTranslate="sigemPortalApp.ficha.delete.question" [translateValues]="{ id: ficha.id }">
      Tem a certeza que pretende eliminar o(a) Ficha {{ ficha.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
    </button>

    <button id="jhi-confirm-delete-ficha" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Eliminar</span>
    </button>
  </div>
</form>
