<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="alfa">
      <h2 data-cy="alfaDetailsHeading"><span jhiTranslate="sigemPortalApp.alfa.detail.title">Alfa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ alfa.id }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.parcela">Parcela</span></dt>
        <dd>
          <span>{{ alfa.parcela }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.tipoTitular">Tipo Titular</span></dt>
        <dd>
          <span>{{ alfa.tipoTitular }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.nomeTitular">Nome Titular</span></dt>
        <dd>
          <span>{{ alfa.nomeTitular }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.estadoSocial">Estado Social</span></dt>
        <dd>
          <span>{{ alfa.estadoSocial }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.dataNascimento">Data Nascimento</span></dt>
        <dd>
          <span>{{ alfa.dataNascimento | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.sexo">Sexo</span></dt>
        <dd>
          <span>{{ alfa.sexo }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.documento">Documento</span></dt>
        <dd>
          <span>{{ alfa.documento }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.numeroDocumento">Numero Documento</span></dt>
        <dd>
          <span>{{ alfa.numeroDocumento }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.datEmissao">Dat Emissao</span></dt>
        <dd>
          <span>{{ alfa.datEmissao }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.localEmissao">Local Emissao</span></dt>
        <dd>
          <span>{{ alfa.localEmissao }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.contactoPrincipal">Contacto Principal</span></dt>
        <dd>
          <span>{{ alfa.contactoPrincipal }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.contactoAlternativo">Contacto Alternativo</span></dt>
        <dd>
          <span>{{ alfa.contactoAlternativo }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.estadoCivil">Estado Civil</span></dt>
        <dd>
          <span>{{ alfa.estadoCivil }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.nomeConjugue">Nome Conjugue</span></dt>
        <dd>
          <span>{{ alfa.nomeConjugue }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.distritoMunicipal">Distrito Municipal</span></dt>
        <dd>
          <span>{{ alfa.distritoMunicipal }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.bairro">Bairro</span></dt>
        <dd>
          <span>{{ alfa.bairro }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.quatreirao">Quatreirao</span></dt>
        <dd>
          <span>{{ alfa.quatreirao }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.talhao">Talhao</span></dt>
        <dd>
          <span>{{ alfa.talhao }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.celula">Celula</span></dt>
        <dd>
          <span>{{ alfa.celula }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.bloco">Bloco</span></dt>
        <dd>
          <span>{{ alfa.bloco }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.avenida">Avenida</span></dt>
        <dd>
          <span>{{ alfa.avenida }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.numeroPolicia">Numero Policia</span></dt>
        <dd>
          <span>{{ alfa.numeroPolicia }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.usoActual">Uso Actual</span></dt>
        <dd>
          <span>{{ alfa.usoActual }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.formaUso">Forma Uso</span></dt>
        <dd>
          <span>{{ alfa.formaUso }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.formaObtencao">Forma Obtencao</span></dt>
        <dd>
          <span>{{ alfa.formaObtencao }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.tipo">Tipo</span></dt>
        <dd>
          <span>{{ alfa.tipo }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.anoOcupacao">Ano Ocupacao</span></dt>
        <dd>
          <span>{{ alfa.anoOcupacao }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.tipoAcesso">Tipo Acesso</span></dt>
        <dd>
          <span>{{ alfa.tipoAcesso }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.conflito">Conflito</span></dt>
        <dd>
          <span>{{ alfa.conflito }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.detalhesConflito">Detalhes Conflito</span></dt>
        <dd>
          <span>{{ alfa.detalhesConflito }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.construcaoPrecaria">Construcao Precaria</span></dt>
        <dd>
          <span>{{ alfa.construcaoPrecaria }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.pisosAcimaSoleira">Pisos Acima Soleira</span></dt>
        <dd>
          <span>{{ alfa.pisosAcimaSoleira }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.pisosAbaixoSoleira">Pisos Abaixo Soleira</span></dt>
        <dd>
          <span>{{ alfa.pisosAbaixoSoleira }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoBarrote">Material Construcao Barrote</span></dt>
        <dd>
          <span>{{ alfa.materialConstrucaoBarrote }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoIBR">Material Construcao IBR</span></dt>
        <dd>
          <span>{{ alfa.materialConstrucaoIBR }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoPranchas">Material Construcao Pranchas</span></dt>
        <dd>
          <span>{{ alfa.materialConstrucaoPranchas }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoPau">Material Construcao Pau</span></dt>
        <dd>
          <span>{{ alfa.materialConstrucaoPau }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoCanico">Material Construcao Canico</span></dt>
        <dd>
          <span>{{ alfa.materialConstrucaoCanico }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.materialConstrucaoCimento">Material Construcao Cimento</span></dt>
        <dd>
          <span>{{ alfa.materialConstrucaoCimento }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.ocupacao">Ocupacao</span></dt>
        <dd>
          <span>{{ alfa.ocupacao }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.TipoContrucao">Tipo Contrucao</span></dt>
        <dd>
          <span>{{ alfa.TipoContrucao }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.detalhesTipoContrucao">Detalhes Tipo Contrucao</span></dt>
        <dd>
          <span>{{ alfa.detalhesTipoContrucao }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.infraestruturaExistente">Infraestrutura Existente</span></dt>
        <dd>
          <span>{{ alfa.infraestruturaExistente }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.dataLevantamento">Data Levantamento</span></dt>
        <dd>
          <span>{{ alfa.dataLevantamento | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="sigemPortalApp.alfa.ficha">Ficha</span></dt>
        <dd>
          <div *ngIf="alfa.ficha">
            <a [routerLink]="['/ficha', alfa.ficha.id, 'view']">{{ alfa.ficha.processo }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/alfa', alfa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
